<!doctype html>
<html>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full fixed h-screen bg-zinc-900 text-white overflow-hidden">
   <main class="w-full fixed h-screen overflow-hidden bg-black pb-[2vh]">

      <nav class="fixed flex gap-[3vw] items-center px-[3vw] top-0 h-[7%] border-b z-20 w-full">
         <i onclick="goBack()" class="bi bi-arrow-left inline-flex text-white text-[1.3rem] font-black rounded-full items-center justify-center h-[10vw] w-[10vw]"></i>
         <h1 class="text-[1.15rem] font-black"><%= selectedUser.username %></h1>
      </nav>

      <div class="chatSection overflow-y-auto py-[3vh] overflow-x-hidden flex flex-col gap-[2.5vh] w-full fixed top-[7%] h-[86%]" >
         <% let messageId %>
         <% if(chats.length >0) { %>
            <% let userId = user._id %>
            
            <% chats.forEach((item) =>{ %>
               <% messageId = item._id.toString() %>
               <% if( item.sender.toString() === userId.toString() ){ %>
                  <div class="chats text-[1.2rem] justify-end flex w-full px-[2vw]" >
                     <div class="chat flex flex-col w-[80vw] h-full">
                        <div class="msg self-end pr-[8vw]">
                           <span class="">
                              <% let msg = item.message %>
                              <% let split = msg.split("<br>")%>
                              <% split.map(line=>{ %>
                                 <%= line %> <br>
                              <% }) %>
                           </span>
                        </div>
                        <div class="dets self-end flex items-center gap-[3vw] w-[15vw]">
                           <span class="text-[0.6rem] w-full overflow-hidden opacity-[0.7]">
                              <% let timestamp = new Date(item.timestamp) %>
                              <% let hours = timestamp.getHours() %>
                              <% (hours > 12) ? hours-=12 : hours %>
                              <% let min = timestamp.getMinutes() %>
                              <%= hours %> :
                              <%= min %> 
                           </span>
                           <% if(item.readed === true){ %>
                              <i class="tickIcon bi bi-check-all text-blue-400"></i>
                           <% }else { %>
                              <i class="tickIcon text-white bi bi-check-all"></i>
                           <% } %>
                        
                        </div>
                     </div>
                  </div>
               <% }else { %>
                  <div class="chats justify-start flex w-full py-[0.8vh] px-[5vw]" >
                     <div>
                        <span class="text-[1.2rem]">
                           <% let msg = item.message %>
                           <% let split = msg.split("<br>")%>
                           <% split.map(line=>{ %>
                              <%= line %> <br>
                           <% }) %>
                        </span>
                        <span class="text-[0.6rem] opacity-[0.7]">
                           <% let timestamp = new Date(item.timestamp) %>
                           <% let hours = timestamp.getHours() %>
                           <% (hours >12) ? hours-=12 : hours %>
                           <% let min = timestamp.getMinutes() %>
                           <%= hours %> :
                           <%= min %> 
                        </span>
                     </div>
                  </div>
               <% } %>
            <% }) %>
         <% } %>

      </div>

      <footer class="fixed bg-black flex items-center z-[99] py-[1vh] w-full h-[7%] max-h-[100px] top-[92%] border-t">
         <textarea class="bg-transparent mt-[1vh] pt-[0.5vh] pl-[5vw] border min-h-[10px] max-h-[100px] rounded-[30px] text-[1rem] overflow-y-auto"  cols="40" name="message" id="messageInput" placeholder="message"></textarea>
         <input type="submit" value="send" id="sendButton">
      </footer>

   </main>
   <script src="/socket.io/socket.io.js"></script>
   <script src="../../javascripts/script.js"></script>
   <script>
   const socket = io()

   let username = "<%= user.username %>";
   const messageInput = document.getElementById('messageInput');
   const sendButton = document.getElementById('sendButton');
   const footer = document.querySelector('footer');
   const chatSection = document.querySelector('.chatSection');
   
   socket.emit("join", username);
   
   messageInput.addEventListener('input', () => {
      messageInput.style.height = 'auto';
      messageInput.style.height = Math.min(messageInput.scrollHeight, parseInt(getComputedStyle(messageInput).maxHeight)) + 'px';
      if((messageInput.style.height) =="77px") {
         footer.style.top = "88%"
         messageInput.style.marginTop = "4vh"
      } else
      if((messageInput.style.height) =="100px") {
         footer.style.top = "86%"
         messageInput.style.marginTop = "7vh"
      } else
      if((messageInput.style.height) < "77") {
         footer.style.top = "92%"
         messageInput.style.marginTop = "1vh"
      } 
   });
   
   sendButton.addEventListener('click', () => {
      const initialMessage = messageInput.value;
      const lines = initialMessage.split("\n");
      let blank = true
      const nonBlankLines = lines.map(line => {
         if(line != "") {
            blank = false
         }
      }
      );
      let formattedMessage = initialMessage.replace(/\n/g, "<br>");
      let message = formattedMessage
      let sender = '<%= user.username %>'
      let receiver= '<%= selectedUser.username %>'
      let date = new Date()
      let hours = date.getHours()
      if (hours> 12) { hours= hours-12 }
      let minutes = date.getMinutes()
      if (blank !== true) {
         socket.emit('sendMessage', { message, sender, receiver});
         document.querySelector(".chatSection").innerHTML +=`
            <div class="chats text-[1.2rem] justify-end flex w-full px-[2vw]" >
            <div class="chat flex flex-col w-[80vw] h-full">
               <div class="msg self-end pr-[8vw] ">
                  <span class="">
                     ${message}
                  </span>
               </div>
               <div class="dets self-end flex items-center gap-[3vw] w-[15vw]">
                  <span class="text-[0.6rem] w-full overflow-hidden opacity-[0.7]">
                     ${hours} :
                     ${minutes}
                  </span>
                  <i class="tickIcon text-white bi bi-check-all"></i>
               </div>
            </div>
         </div>
            
         `
         messageInput.value = '';
         scrollToBottom()
      }
   }); 
   
   socket.on("receiveMessage", (message, chat)=>{
      let date = new Date()
      let hours = date.getHours()
      let minutes = date.getMinutes()
      document.querySelector(".chatSection").innerHTML +=`
         <div class="chats justify-start flex w-full mb-[3vh] px-[5vw]">
            <div>
               <span class="text-[1.2rem]"> ${message.message} </span>
               <span class="text-[0.6rem] ml-[3vw] opacity-[0.7]">
                  ${hours} : ${minutes}
               </span>
            </div>
         </div>
      `
      scrollToBottom()
      socket.emit("markAsSeen", chat)
   });
   
   socket.on('messagesSeen', (seenedChat) => {
      const tickIcon = document.querySelectorAll('.chatSection .chats .tickIcon');
      tickIcon.forEach((item)=>{
         if (!item.classList.contains('text-blue-400')) {
            item.classList.remove('text-white'); 
            item.classList.add('text-blue-400'); 
         }
      })
   });
   
   </script> 
</body>
</html>